<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MapMapper">
	
	<select id="selectMap" parameterType="mapVO" resultType="mapVO">
		select *
		from map
		inner join member
		on map.member_id = member.id
		where member.id = #{member_id}
	</select>
	
	<select id="countMap" parameterType="mapVO" resultType="int">
		select count(*)
		from map
		inner join member
		on map.member_id = member.id
		where member.id = #{member_id}
		and map.place_name = #{place_name}
		and map.lat = #{lat}
		and map.lon = #{lon}
	</select>
		
	<insert id="insertMap" parameterType="mapVO">
		insert into
		map (
			place_name
			, address
			, lat
			, lon
			, member_id
		) values (
			#{place_name}
			, #{address}
			, #{lat}
			, #{lon}
			, #{member_id}
		)
	</insert>
	
	<delete id="deleteMap" parameterType="mapVO">
		delete from map
		where member_id = #{member_id}
		and place_name = #{place_name}
		and address = #{address}
	</delete>
	
</mapper>